export(audit_dependencies)
export(remove)
export(scan_dependencies)
export(hunt_zombies)
export(memory_sweeper)
export(sweep_temp_cache)
export(dev_bootstrap)
export(manage_deprecation)
export(setup_preflight)
export(setup_sentinel)
export(audit_script)
export(detect_masking)
export(export_snapshot)
export(dispatch_checkpoints)
export(loop_guardian)
export(network_diplomat)
export(architect_release)
export(architect_vignette)
export(scaffold_parallel)
export(scaffold_tests)
export(simulate_clean_room)
export(mask_identity)
export(benchmark_branches)
export(dictate_dictionary)
